@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #171717;
  --title: #d4d4d4;
  --subtitle: #a3a3a3;
  --transition: 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

body {
  background: var(--background);
  color: #fff;
  font-family: "Inter", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin: 7rem auto 0 auto;
  max-width: 460px;
  width: 100%;
}

.copyright {
  font-size: 12.25px;
  margin: 5rem 0;
  color: var(--subtitle);
}
