.cardProfile__status {
    display: flex;
    align-items: center;
}

.cardProfile__name {
    display: flex;
    align-items: flex-end;
    margin: 0.35rem 0;
}

.cardProfile__status--text {
    margin: 0.235rem 0 0 0;
    font-size: 12.5px;
    color: var(--subtitle);
}

.cardProfile__status--division {
    position: relative;
}

.cardProfile__name--personal {
    font-size: 28.5px;
    margin: 0 0.35rem 0 0;
    color: var(--title);
    font-weight: bold;
}

.cardProfile__name--global {
    color: var(--subtitle);
}

.cardProfile__ocupation {
    font-size: 15px;
    color: var(--subtitle);
}

.cardProfile__location {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 0.4rem 0;
    gap: 6px;
    line-height: 1;
    color: var(--subtitle);
}

.cardProfile__icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0 0 0;
    color: var(--subtitle);
}

.cardProfile__icons--icon {
    cursor: pointer;
    width: max-content;
}

@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@media screen and (max-width: 675px) {
    .cardProfile__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
