.resume__header {
    position: relative;
    border-radius: 5rem;
    margin: 2.25rem 0 1.05rem 0;
    padding: .25rem .85rem;
    width: max-content;
    font-size: .85rem;
    color: #00FF96;
    background: #2cb67d3f;
}

.resume__image {
    position: absolute;
    top: -.75rem;
    right: -.765rem;
}

.resume__content {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1.05rem
}

.resume__text {
    color: var(--subtitle);
    font-size: .85rem;
}