.cardInfo__work {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cardInfo__content {
    display: flex;
    align-items: center;
    gap: 11.5px;
}

.cardInfo__company {
    line-height: 1;
    color: var(--title);
}

.cardInfo__ocupation {
    line-height: 1;
    color: var(--subtitle);
}

.cardInfo__image {
    filter: grayscale(1);
}

.cardInfo__name {
    display: flex;
    align-items: start;
    gap: 8px;
    flex-direction: column;
}

.cardInfo__company {
    font-size: 0.875rem;
}

.cardInfo__ocupation {
    font-size: 0.8rem;
}

.cardInfo__title {
    font-size: 0.85rem;
    color: var(--subtitle);
    margin: 2.25rem 0 1.75rem 0;
}

.cardInfo__date {
    white-space: nowrap;
    font-size: 0.75rem;
    color: var(--subtitle);
}

.cardInfo__works {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cardInfo__projectType {
    border-radius: 5rem;
    padding: 0.15rem 0.35rem;
    font-size: 0.75rem;
    color: #737373;
    background: #262626;
}
